body {
    background-color: #FF8700;
}

.main {
    display: flexbox;
    font-family: 'Sniglet', cursive;
    margin: auto;
}

/* Begin header styling*/

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #00B5FF;
    width: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    border-bottom: 4px solid;
    height: 75px;
}

.questionNumber {
    float: left;
    margin-left: 10px;
    padding-top: 18px;
}

.numberCorrect {
   float: right;
   margin-right: 10px;
   padding-top: 18px;
}

.hide {
    visibility: hidden;
}

/* End header styling */

/* Begin start screen styling */

.quizStart {
    text-align: center;
    margin-top: 150px;
}

#quizTitle {
    font-size: 100px;
    margin-bottom: 0px;
}

#quizSubtitle {
    font-size: 40px;
    margin-top: 0px;
}

/* End start screen styling */

/* Begin question styling */

.questionContainer {
    text-align: center;
}

.question {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 100px;
}

fieldset {
    border: none;
}

input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="radio"]:active + label {
    opacity: 1;
    
  }

input[type="radio"]:checked + label {
    opacity: 1;
    border: 4px solid;
    background-color: #007FB2;
}

label:hover {
    background-color: #007FB2;
}

label {
    box-sizing: border-box;
    display: block;
    border: 2px solid;
    border-radius: 7.5px;
    background-color: #38C6FF;
    width: 350px;
    height: 55px;
    font-size: 25px;
    margin: auto;
    padding-top: 11px;
    
}

button:hover span {
    padding-right: 35px;
}

button span {
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}
button {
    display: inline-block;
    width: 350px;
    background-color: #B25E00;
    padding: 14px 28px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-family: 'Sniglet', cursive;
    border: 1px solid;
    border-radius: 7.5px;
}

.correctAnswerDisplay {
    margin-top: 100px;
}

.incorrectAnswerDisplay {
    margin-top: 105px;
}

.questionResultDisplay {
    font-size: 70px;
    margin-bottom: 0;
}

.questionResultMessage_1 {
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: normal;
}

.questionResultMessage_2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#actualCorrectAnswer {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

p span {
    font-weight: bold;
    font-size: 35px;
}

.moveOn {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px; 
}

.imageSizing {
    height: 20%;
    width: 20%;
    border-style: outset;
    border-width: 6px;
    border-color: black;
}

/* End question styling */

/* Begin end screen styling */

#quizEndScreen {
    text-align: center;
}

#finalScoreDisplay {
    font-size: 100px;
    margin-bottom: 0;
}

#goatRating {
    font-size: 40px;
    font-weight: bold;
}

#goatRatingMessage {
    font-size: 30px;
}

#finalImageSizing {
    height: 40%;
    width: 40%;
    margin-bottom: 10px;
    border-style: outset;
    border-width: 6px;
    border-color: black;
}

/* End end screen styling

